<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Appointment types</h1>
    <%= link_to "New appointment type", new_appointment_type_path %>
  </div>

  <div id="appointment_types" class="min-w-full">
    <%= render @appointment_types %>
  </div>
</div>
